%main.container
  %h2 Log in

  = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "devise_form" } ) do |f|
    .form-inputs
      = f.input :email, required: false, autofocus: true, input_html: { autocomplete: "email" }, placeholder: "Email"
      = f.input :password, required: false, input_html: { autocomplete: "current-password" }, placeholder: "Password"
      = f.input :remember_me, as: :boolean, wrapper: :boolean if devise_mapping.rememberable?
    .form-actions
      = f.button :submit, "Log in", class: "btn btn--dark"

  .links
    = render "devise/shared/links"
